{
  "swagger" : "2.0",
  "info" : {
    "version" : "2024-09-21T12:59:04Z",
    "title" : "dev-cart"
  },
  "host" : "rest.mycountyparks.com",
  "basePath" : "/cart",
  "schemes" : [ "https" ],
  "paths" : {
    "/" : {
      "get" : {
        "summary" : "Get Cart Detail",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "username",
          "in" : "query",
          "description" : "filter used for filtering result accordingly",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "token",
          "in" : "query",
          "description" : "filter used for filtering result accordingly",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "flagExcludeProcessingFees",
          "in" : "query",
          "description" : "filter used for filtering result accordingly",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "cartItemId",
          "in" : "query",
          "description" : "filter used for filtering result accordingly",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "cartId",
          "in" : "query",
          "description" : "filter used for filtering result accordingly",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "flagPublic",
          "in" : "query",
          "description" : "filter used for filtering result accordingly",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dateNow",
          "in" : "query",
          "description" : "filter used for filtering result accordingly",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CartDetailSuccess"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/admin-processing-fee" : {
      "get" : {
        "summary" : "Can Admin Override Processing Fee Status",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "countyId",
          "in" : "query",
          "description" : "Cart Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CartFacilityTimeSuccess"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/all-step-status/{cartId}" : {
      "get" : {
        "summary" : "Get All Step Completed Status",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cartId",
          "in" : "path",
          "description" : "Cart Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/SuccessModel"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/authorize-log" : {
      "put" : {
        "summary" : "Modify Authorize Net Log",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "AuthorizeLogData",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AuthorizeLogData"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/SuccessModel"
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/county-id/{cartId}" : {
      "get" : {
        "summary" : "Get County Id By Cart ID",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cartId",
          "in" : "path",
          "description" : "Cart Item Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CountyIdSuccess"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/county-status/{cartId}" : {
      "get" : {
        "summary" : "Get County Status By Cart ID",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cartId",
          "in" : "path",
          "description" : "Cart Item Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CountyStatusSuccess"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/date-lock" : {
      "post" : {
        "summary" : "Insert Date Lock",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "AddDateLockData",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AddDateLockData"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/SuccessModel"
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/date-lock/{cartId}" : {
      "delete" : {
        "summary" : "Delete Date Lock By Cart Id",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cartId",
          "in" : "path",
          "description" : "Cart Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CartFacilityTimeSuccess"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/event" : {
      "post" : {
        "summary" : "Add Event Order",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "EventOrderData",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/EventOrderData"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/SuccessModel"
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/event-attendee" : {
      "get" : {
        "summary" : "Get Event Attendee",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "eventId",
          "in" : "query",
          "description" : "Event Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "cartId",
          "in" : "query",
          "description" : "Cart Item Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/EventOrderAttendeeSuccess"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/event-checkout" : {
      "post" : {
        "responses" : { },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/event/question-response" : {
      "delete" : {
        "summary" : "Delete Cart Item",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "fileGuid",
          "in" : "query",
          "description" : "FileGuid",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "responseId",
          "in" : "query",
          "description" : "Response Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/SuccessModel"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/event/{id}" : {
      "put" : {
        "summary" : "Update Event Order",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Event ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "ModifyEventOrderData",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ModifyEventOrderData"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/SuccessModel"
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "delete" : {
        "summary" : "Update Event Order",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Event ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "DeleteEventOrderData",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeleteEventOrderData"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/SuccessModel"
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/expiration-time" : {
      "get" : {
        "summary" : "Get Cart Facility Time",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "flagCheckout",
          "in" : "query",
          "description" : "flag Checkout",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "username",
          "in" : "query",
          "description" : "username",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "cartId",
          "in" : "query",
          "description" : "Cart Item Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CartFacilityTimeSuccess"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/facility" : {
      "post" : {
        "summary" : "Add facility Order",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "FacilityOrderData",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FacilityOrderData"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/SuccessModel"
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/facility-checkout" : {
      "post" : {
        "responses" : { },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/facility/reset-time" : {
      "get" : {
        "summary" : "Reset Cart Facility Time",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cartId",
          "in" : "query",
          "description" : "filter used for filtering result accordingly",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/ResetCartExpirationTimeSuccess"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/facility/{id}" : {
      "delete" : {
        "summary" : "Delete Cart Item",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Cart Item Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/SuccessModel"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/html" : {
      "post" : {
        "summary" : "Create HTML For Cart",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "username",
          "in" : "query",
          "description" : "Username",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "cartId",
          "in" : "query",
          "description" : "Cart Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "token",
          "in" : "query",
          "description" : "token",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "tempOrderId",
          "in" : "query",
          "description" : "Temporary Order Id",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CartFacilityTimeSuccess"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/invalid-events" : {
      "get" : {
        "summary" : "Get Invalid Registration Events",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "dateNow",
          "in" : "query",
          "description" : "filter used for filtering result accordingly",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "eventId",
          "in" : "query",
          "description" : "filter used for filtering result accordingly",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "cartId",
          "in" : "query",
          "description" : "filter used for filtering result accordingly",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/InvalidRegEventsSuccess"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/invalid-items" : {
      "get" : {
        "summary" : "Get Invalid Cart Item",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "username",
          "in" : "query",
          "description" : "filter used for filtering result accordingly",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "cartId",
          "in" : "query",
          "description" : "filter used for filtering result accordingly",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/InvalidCartItemSuccess"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/item-price" : {
      "get" : {
        "summary" : "Get Cart Item Prices",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "flagExcludeProcessingFees",
          "in" : "query",
          "description" : "filter used for filtering result accordingly",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "cartItemId",
          "in" : "query",
          "description" : "filter used for filtering result accordingly",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CartItemPricesResponse"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/item-types/{cartId}" : {
      "get" : {
        "summary" : "Get County Status By Cart ID",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cartId",
          "in" : "path",
          "description" : "Cart Item Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CountyStatusSuccess"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/log" : {
      "post" : {
        "summary" : "Insert Log",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "InsertLogData",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InsertLogData"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/SuccessModel"
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/order" : {
      "post" : {
        "summary" : "Insert Order Cart",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "InsertOrderData",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InsertOrderData"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/SuccessModel"
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "put" : {
        "summary" : "Modify Order Cart",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "UpdateOrderData",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UpdateOrderData"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/SuccessModel"
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/order-tab" : {
      "get" : {
        "summary" : "Get Cart Order Item",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "username",
          "in" : "query",
          "description" : "username",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "flagAdmin",
          "in" : "query",
          "description" : "flag Admin",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "cartId",
          "in" : "query",
          "description" : "Cart Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CartFacilityTimeSuccess"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/order-total" : {
      "get" : {
        "summary" : "Get Cart Order Total",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "promoTotal",
          "in" : "query",
          "description" : "Promo Total",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "cartId",
          "in" : "query",
          "description" : "Cart Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "flagExcludeProcessingFee",
          "in" : "query",
          "description" : "Flag Exclude Processing Fee",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "discount",
          "in" : "query",
          "description" : "Discount",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CartFacilityTimeSuccess"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/promo-code" : {
      "get" : {
        "summary" : "Get Promo Code Detail",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "username",
          "in" : "query",
          "description" : "username",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "promoCode",
          "in" : "query",
          "description" : "flag Checkout",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "cartId",
          "in" : "query",
          "description" : "Cart Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CartFacilityTimeSuccess"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/receipt/{id}" : {
      "get" : {
        "summary" : "Get Order details",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Order Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/OrderReceiptSuccess"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/same-county" : {
      "get" : {
        "summary" : "Is From Same County",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "username",
          "in" : "query",
          "description" : "Username",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "cartId",
          "in" : "query",
          "description" : "Cart Item Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "itemId",
          "in" : "query",
          "description" : "Cart Item Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "itemType",
          "in" : "query",
          "description" : "Cart Item Type",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CountyStatusSuccess"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/session-cart/{cartId}" : {
      "delete" : {
        "summary" : "Delete Session Cart By Cart Id",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cartId",
          "in" : "path",
          "description" : "Cart Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CartFacilityTimeSuccess"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/temp-order" : {
      "post" : {
        "summary" : "Insert Temp Order Cart",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "InsertTempOrderData",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InsertTempOrderData"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/SuccessModel"
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/user" : {
      "post" : {
        "summary" : "Insert or update user for cart",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "UpsertUserData",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UpsertUserData"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/UserDetail"
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/valid" : {
      "get" : {
        "summary" : "Determine Cart Is valid Or Not",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "username",
          "in" : "query",
          "description" : "username",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "cartId",
          "in" : "query",
          "description" : "Cart Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CartFacilityTimeSuccess"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/valid-facility" : {
      "get" : {
        "summary" : "Validate Facility Reservation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "username",
          "in" : "query",
          "description" : "username",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "cartId",
          "in" : "query",
          "description" : "Cart Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/CartFacilityTimeSuccess"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/validate-fee/{cartId}" : {
      "get" : {
        "summary" : "Get County Status By Cart ID",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cartId",
          "in" : "path",
          "description" : "Cart Item Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/ValidateConvenienceFeeSuccess"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/ErrorModel"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    }
  },
  "securityDefinitions" : {
    "api_key" : {
      "type" : "apiKey",
      "name" : "x-api-key",
      "in" : "header"
    }
  },
  "definitions" : {
    "CountyStatusSuccess" : {
      "type" : "object",
      "properties" : {
        "result" : {
          "type" : "boolean",
          "description" : "Status is active or not"
        },
        "success" : {
          "type" : "boolean",
          "description" : "true"
        },
        "message" : {
          "type" : "string",
          "description" : "County status fetched successfully."
        }
      }
    },
    "FacilityOrderData" : {
      "type" : "object",
      "required" : [ "cartId", "flagDelete", "fromDate", "itemId", "toDate" ],
      "properties" : {
        "flagConvenienceFee" : {
          "type" : "integer",
          "description" : "Flag to indicate if there is a convenience fee"
        },
        "lockBoxCode" : {
          "type" : "string",
          "description" : "Code for the lockbox"
        },
        "additionalFeeBit" : {
          "type" : "integer",
          "description" : "Flag to indicate if there is an additional fee"
        },
        "cartId" : {
          "type" : "string",
          "description" : "ID of the cart"
        },
        "toDate" : {
          "type" : "string",
          "description" : "End date and time"
        },
        "weekend" : {
          "type" : "integer",
          "description" : "Weekend rate"
        },
        "weekday" : {
          "type" : "integer",
          "description" : "Weekday rate"
        },
        "discountBit" : {
          "type" : "integer",
          "description" : "Flag to indicate if there is a discount"
        },
        "holiday" : {
          "type" : "integer",
          "description" : "Holiday rate"
        },
        "fromDate" : {
          "type" : "string",
          "description" : "Start date and time"
        },
        "itemId" : {
          "type" : "integer",
          "description" : "ID of the item"
        },
        "facilityActivityBit" : {
          "type" : "integer",
          "description" : "Flag to indicate facility activity"
        },
        "flagCompleted" : {
          "type" : "integer",
          "description" : "Flag to indicate if the order is completed"
        },
        "convenienceFee" : {
          "type" : "number",
          "description" : "Convenience fee amount"
        },
        "licensePlate" : {
          "type" : "string",
          "description" : "License plate number"
        },
        "flagDelete" : {
          "type" : "integer",
          "description" : "Flag to indicate if the item should be deleted"
        },
        "promoCode" : {
          "type" : "string",
          "description" : "Promotional code applied to the order"
        },
        "occupant" : {
          "type" : "string",
          "description" : "Occupant details"
        },
        "username" : {
          "type" : "string",
          "description" : "Username of the person making the order"
        }
      }
    },
    "InsertLogData" : { },
    "ResetCartExpirationTimeSuccess" : {
      "type" : "object",
      "properties" : {
        "result" : {
          "type" : "object",
          "properties" : {
            "ExpirationTime" : {
              "type" : "string"
            }
          }
        },
        "success" : {
          "type" : "boolean",
          "description" : "true"
        },
        "message" : {
          "type" : "string",
          "description" : "Cart time has been reset successfully"
        }
      }
    },
    "AuthorizeLogData" : {
      "type" : "object",
      "required" : [ "authorizeNetLogId", "cartId", "orderId", "orderReceipt", "userCreated", "validPayment" ],
      "properties" : {
        "authCode" : {
          "type" : "string",
          "description" : "Authorization code for the payment"
        },
        "orderId" : {
          "type" : "string",
          "description" : "Unique identifier for the order"
        },
        "orderReceipt" : {
          "type" : "string",
          "description" : "Receipt for the order",
          "default" : ""
        },
        "cartId" : {
          "type" : "string",
          "description" : "Unique identifier for the cart"
        },
        "authorizeNetLogId" : {
          "type" : "integer",
          "description" : "Log ID for Authorize.Net transactions"
        },
        "errorMessage" : {
          "type" : "string",
          "description" : "Error message if the payment fails"
        },
        "validPayment" : {
          "type" : "boolean",
          "description" : "Indicates whether the payment is valid"
        },
        "flagOrgEvent" : {
          "type" : "boolean",
          "description" : "Flag indicating if this is an organizational event"
        },
        "userCreated" : {
          "type" : "string",
          "description" : "Identifier for the user who created the order"
        },
        "transactionId" : {
          "type" : "string",
          "description" : "Unique identifier for the payment transaction"
        },
        "machineName" : {
          "type" : "string",
          "description" : "Name of the machine used to create the order",
          "default" : ""
        },
        "responseCode" : {
          "type" : "string",
          "description" : "Response code from the payment gateway"
        }
      }
    },
    "UserDetail" : {
      "type" : "object",
      "properties" : {
        "result" : {
          "type" : "object",
          "properties" : {
            "isLockedOut" : {
              "type" : "boolean",
              "description" : "false"
            },
            "lastName" : {
              "type" : "string",
              "description" : "Test"
            },
            "userStatus" : {
              "type" : "string",
              "description" : "Registered User"
            },
            "city" : {
              "type" : "string",
              "description" : "LA"
            },
            "isSendEmailChecked" : {
              "type" : "string",
              "description" : "1"
            },
            "genderID" : {
              "type" : "integer",
              "description" : "12"
            },
            "lastLoginDate" : {
              "type" : "string",
              "description" : "2024-05-29T12:08:55.293Z"
            },
            "billingAddress2" : {
              "type" : "string",
              "description" : "2nd Address Line"
            },
            "billingAddress1" : {
              "type" : "string",
              "description" : "1st address line"
            },
            "password" : {
              "type" : "string",
              "description" : "Mules123"
            },
            "dateCreated" : {
              "type" : "string",
              "description" : "2024-05-29T07:09:00.000Z"
            },
            "billingEmail" : {
              "type" : "string",
              "description" : "00.K.Bolt2@gmail.com"
            },
            "countyInterest" : {
              "type" : "string",
              "description" : "Array of county interests"
            },
            "billingFirstName" : {
              "type" : "string",
              "description" : "testB"
            },
            "state" : {
              "type" : "string",
              "description" : "LA"
            },
            "billingFax" : {
              "type" : "string",
              "description" : "999999994"
            },
            "isApproved" : {
              "type" : "boolean",
              "description" : "true"
            },
            "fax" : {
              "type" : "string",
              "description" : "999999993"
            },
            "ageID" : {
              "type" : "integer",
              "description" : "22"
            },
            "email" : {
              "type" : "string",
              "description" : "Vaalgaridn@gmaaail.com"
            },
            "flagOrganizationAdmin" : {
              "type" : "string",
              "description" : "null"
            },
            "billingZip" : {
              "type" : "string",
              "description" : "23423"
            },
            "zip" : {
              "type" : "string",
              "description" : "23423"
            },
            "raceID" : {
              "type" : "integer",
              "description" : "22"
            },
            "address2" : {
              "type" : "string",
              "description" : "2nd Address Line"
            },
            "address1" : {
              "type" : "string",
              "description" : "1st address line"
            },
            "flagWaitlistEmail" : {
              "type" : "string",
              "description" : "null"
            },
            "dateModified" : {
              "type" : "string",
              "description" : "null"
            },
            "billingState" : {
              "type" : "string",
              "description" : "LA"
            },
            "activityBIT" : {
              "type" : "string",
              "description" : "9672"
            },
            "userId" : {
              "type" : "string",
              "description" : "F1EE7934-1B83-4CC8-AAAB-EC188E21B89E"
            },
            "flagBillingInformation" : {
              "type" : "string",
              "description" : "0"
            },
            "parkID" : {
              "type" : "string",
              "description" : "null"
            },
            "firstName" : {
              "type" : "string",
              "description" : "test"
            },
            "billingLastName" : {
              "type" : "string",
              "description" : "TestB"
            },
            "phone" : {
              "type" : "string",
              "description" : "999999991"
            },
            "countyID" : {
              "type" : "string",
              "description" : "null"
            },
            "billingCity" : {
              "type" : "string",
              "description" : "LA"
            },
            "billingPhone" : {
              "type" : "string",
              "description" : "999999992"
            },
            "username" : {
              "type" : "string",
              "description" : ".Kristi1972"
            }
          }
        },
        "success" : {
          "type" : "boolean",
          "description" : "true"
        },
        "message" : {
          "type" : "string",
          "description" : "User modified successfully."
        }
      },
      "description" : "Details of user."
    },
    "CountyIdSuccess" : {
      "type" : "object",
      "properties" : {
        "result" : {
          "type" : "object",
          "properties" : {
            "CountyID" : {
              "type" : "integer",
              "description" : "Unique identifier for the county"
            }
          }
        },
        "success" : {
          "type" : "boolean",
          "description" : "true"
        },
        "message" : {
          "type" : "string",
          "description" : "County id fetched successfully."
        }
      }
    },
    "InvalidCartItemSuccess" : {
      "type" : "object",
      "properties" : {
        "result" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "FacilityID" : {
                "type" : "string",
                "description" : "Unique identifier for the job."
              },
              "Name" : {
                "type" : "string",
                "description" : "Name of the facility"
              }
            }
          }
        },
        "success" : {
          "type" : "boolean",
          "description" : "true"
        },
        "message" : {
          "type" : "string",
          "description" : "Invalid cart items fetched successfully"
        }
      }
    },
    "CartDetailSuccess" : {
      "type" : "object",
      "properties" : {
        "result" : {
          "type" : "object",
          "properties" : {
            "eventCartItems" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : { }
              }
            },
            "cartDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "CheckOutTime" : {
                    "type" : "string"
                  },
                  "FlagPayAtSite" : {
                    "type" : "integer"
                  },
                  "PromoCode" : {
                    "type" : "string"
                  },
                  "DisplayBIT" : {
                    "type" : "integer"
                  },
                  "EventType" : {
                    "type" : "string"
                  },
                  "Occupant" : {
                    "type" : "string"
                  },
                  "ReservationURL" : {
                    "type" : "string"
                  },
                  "FlagLockBox" : {
                    "type" : "integer"
                  },
                  "FlagLicensePlate" : {
                    "type" : "integer"
                  },
                  "County" : {
                    "type" : "string"
                  },
                  "Name" : {
                    "type" : "string"
                  },
                  "DescRefundPolicy" : {
                    "type" : "string"
                  },
                  "FacilityID" : {
                    "type" : "integer"
                  },
                  "FlagCompleted" : {
                    "type" : "integer"
                  },
                  "MaxOccupancy" : {
                    "type" : "string"
                  },
                  "MinCheckIn" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "CheckInTime" : {
                    "type" : "string"
                  },
                  "NameFirst" : {
                    "type" : "string"
                  },
                  "DescYouthGroup" : {
                    "type" : "string"
                  },
                  "LockBoxCode" : {
                    "type" : "string"
                  },
                  "DescCancelationPolicy" : {
                    "type" : "string"
                  },
                  "FlagConvenienceFee" : {
                    "type" : "integer"
                  },
                  "AdditionalFeesBIT" : {
                    "type" : "string"
                  },
                  "LicensePlate" : {
                    "type" : "string"
                  },
                  "NameLast" : {
                    "type" : "string"
                  },
                  "CountyID" : {
                    "type" : "integer"
                  },
                  "ConvenienceFee" : {
                    "type" : "integer"
                  },
                  "EventName" : {
                    "type" : "string"
                  },
                  "MaxCheckOut" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "ItemID" : {
                    "type" : "integer"
                  },
                  "CartItemID" : {
                    "type" : "integer"
                  },
                  "Park" : {
                    "type" : "string"
                  },
                  "Type" : {
                    "type" : "string"
                  },
                  "NoOfDays" : {
                    "type" : "integer"
                  },
                  "Username" : {
                    "type" : "string"
                  },
                  "Total" : {
                    "type" : "integer"
                  },
                  "FromDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "ToDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "UserRegistrationType" : {
                    "type" : "string"
                  },
                  "Waiver" : {
                    "type" : "string"
                  },
                  "FacilityURL" : {
                    "type" : "string"
                  },
                  "FacilityType" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    }
                  },
                  "DescRentalContract" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "success" : {
          "type" : "boolean",
          "description" : "true"
        },
        "message" : {
          "type" : "string",
          "description" : "Cart details fetched successfully"
        }
      }
    },
    "DeleteEventOrderData" : {
      "type" : "object",
      "required" : [ "cartId", "registrationId", "username" ],
      "properties" : {
        "previousItemURLInvalidCart" : {
          "type" : "string",
          "description" : "item url of previous invalid cart"
        },
        "parkToAddInvalidCart" : {
          "type" : "integer",
          "description" : "park to add in invalid cart"
        },
        "cartId" : {
          "type" : "string",
          "description" : "Identifier for the shopping cart"
        },
        "registrationId" : {
          "type" : "integer",
          "description" : "Unique identifier for the registration"
        },
        "message" : {
          "type" : "string",
          "description" : "error message"
        },
        "username" : {
          "type" : "string",
          "description" : "Username of the person registering"
        }
      }
    },
    "EventOrderData" : {
      "type" : "object",
      "required" : [ "adults", "cartId", "children", "eventId", "flagAdminOrder", "registrationId", "username" ],
      "properties" : {
        "teamName" : {
          "type" : "string",
          "description" : "Name of the team if applicable"
        },
        "flagAdminOrder" : {
          "type" : "boolean",
          "description" : "Flag indicating if this is an admin order"
        },
        "eventId" : {
          "type" : "integer",
          "description" : "Unique identifier for the event"
        },
        "userRegistrationType" : {
          "type" : "string",
          "description" : "Type of registration for the user"
        },
        "children" : {
          "type" : "integer",
          "description" : "Number of children attending"
        },
        "familyFee" : {
          "type" : "number",
          "format" : "float",
          "description" : "Fee applicable for family registrations"
        },
        "cartId" : {
          "type" : "string",
          "description" : "Identifier for the shopping cart"
        },
        "adults" : {
          "type" : "integer",
          "description" : "Number of adults attending"
        },
        "registrationId" : {
          "type" : "integer",
          "description" : "Unique identifier for the registration"
        },
        "eventQuestions" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "answerTypeId" : {
                "type" : "string",
                "description" : "Id for the answer"
              },
              "fileName" : {
                "type" : "string",
                "description" : "Name of the uploaded file associated with the question"
              },
              "answer" : {
                "type" : "string",
                "description" : "contains id or answer value"
              },
              "questionGuid" : {
                "type" : "string",
                "description" : "Unique identifier for the question"
              },
              "mimeType" : {
                "type" : "string",
                "description" : "MIME type of the uploaded file"
              }
            },
            "required" : [ "answer", "answerTypeId", "questionGuid" ]
          }
        },
        "username" : {
          "type" : "string",
          "description" : "Username of the person registering"
        }
      }
    },
    "CartFacilityTimeSuccess" : {
      "type" : "object",
      "properties" : {
        "result" : {
          "type" : "object",
          "properties" : {
            "ExpirationTime" : {
              "type" : "string",
              "description" : "Cart facility expiration time"
            },
            "CurrentDate" : {
              "type" : "string",
              "description" : "Current date and time"
            }
          }
        },
        "success" : {
          "type" : "boolean",
          "description" : "true"
        },
        "message" : {
          "type" : "string",
          "description" : "County status fetched successfully."
        }
      }
    },
    "UpdateOrderData" : {
      "type" : "object",
      "required" : [ "billingAddress1", "billingAddress2", "billingCity", "billingEmail", "billingFax", "billingFirstName", "billingLastName", "billingPhone", "billingState", "billingZip", "cartId", "countyId", "discount", "discountTotal", "donationId", "employer", "flagExcludeProcessingFees", "machineName", "orderId", "orderTotal", "parkId", "payablePercent", "previousToken", "promoCode", "promoTotal", "token", "type", "userComment", "username" ],
      "properties" : {
        "payablePercent" : {
          "type" : "number",
          "format" : "float",
          "description" : "Percentage of the amount to be paid"
        },
        "previousToken" : {
          "type" : "string",
          "description" : "Previous token for reference"
        },
        "orderId" : {
          "type" : "string",
          "description" : "Unique identifier for the order"
        },
        "discount" : {
          "type" : "number",
          "format" : "money",
          "description" : "Discount amount applied to the order"
        },
        "donationId" : {
          "type" : "integer",
          "description" : "Identifier for the donation"
        },
        "type" : {
          "type" : "string",
          "description" : "Type of the order"
        },
        "parkId" : {
          "type" : "integer",
          "description" : "Identifier for the park"
        },
        "machineName" : {
          "type" : "string",
          "description" : "Name of the machine used to place the order"
        },
        "billingAddress2" : {
          "type" : "string",
          "description" : "Second line of the billing address"
        },
        "billingAddress1" : {
          "type" : "string",
          "description" : "First line of the billing address"
        },
        "billingEmail" : {
          "type" : "string",
          "description" : "Email address for billing notifications"
        },
        "countyId" : {
          "type" : "integer",
          "description" : "Identifier for the county"
        },
        "billingFirstName" : {
          "type" : "string",
          "description" : "First name of the billing contact"
        },
        "employer" : {
          "type" : "string",
          "description" : "Employer name"
        },
        "promoCode" : {
          "type" : "string",
          "description" : "Promotion code used for the order"
        },
        "billingFax" : {
          "type" : "string",
          "description" : "Fax number for the billing contact"
        },
        "billingZip" : {
          "type" : "string",
          "description" : "ZIP code for the billing address"
        },
        "cartId" : {
          "type" : "string",
          "description" : "The unique identifier for the cart"
        },
        "billingState" : {
          "type" : "string",
          "description" : "State for the billing address"
        },
        "flagExcludeProcessingFees" : {
          "type" : "boolean",
          "description" : "Flag to exclude processing fees"
        },
        "orderTotal" : {
          "type" : "number",
          "format" : "money",
          "description" : "Total order amount after discounts and promotions"
        },
        "token" : {
          "type" : "string",
          "description" : "Token for processing the order"
        },
        "billingLastName" : {
          "type" : "string",
          "description" : "Last name of the billing contact"
        },
        "userComment" : {
          "type" : "string",
          "description" : "Comments from the user regarding the order"
        },
        "discountTotal" : {
          "type" : "number",
          "format" : "money",
          "description" : "Total discount amount"
        },
        "promoTotal" : {
          "type" : "number",
          "format" : "money",
          "description" : "Total amount of promotions applied"
        },
        "billingCity" : {
          "type" : "string",
          "description" : "City for the billing address"
        },
        "billingPhone" : {
          "type" : "string",
          "description" : "Phone number for the billing contact"
        },
        "username" : {
          "type" : "string",
          "description" : "Username of the person placing the order"
        }
      }
    },
    "ValidateConvenienceFeeSuccess" : {
      "type" : "object",
      "properties" : {
        "result" : {
          "type" : "boolean",
          "description" : "Status is active or not"
        },
        "success" : {
          "type" : "boolean",
          "description" : "true"
        },
        "message" : {
          "type" : "string",
          "description" : "Convenience fee validated successfully."
        }
      }
    },
    "AddDateLockData" : {
      "type" : "object",
      "required" : [ "cartId" ],
      "properties" : {
        "cartId" : {
          "type" : "string",
          "description" : "The unique identifier for the cart"
        }
      }
    },
    "UpsertUserData" : {
      "type" : "object",
      "required" : [ "address1", "billingAddress1", "billingCity", "billingEmail", "billingFax", "billingFirstName", "billingLastName", "billingPhone", "billingZip", "cartId", "city", "displayMode", "email", "firstName", "flagBillingInformation", "lastName", "phone", "state", "zip" ],
      "properties" : {
        "lastName" : {
          "type" : "string",
          "description" : "Last name of the user"
        },
        "city" : {
          "type" : "string",
          "description" : "City for the user's address"
        },
        "billingAddress2" : {
          "type" : "string",
          "description" : "Second line of the billing address (optional)"
        },
        "billingAddress1" : {
          "type" : "string",
          "description" : "First line of the billing address"
        },
        "password" : {
          "type" : "string",
          "description" : "User's password"
        },
        "billingEmail" : {
          "type" : "string",
          "description" : "Email address for billing notifications"
        },
        "billingFirstName" : {
          "type" : "string",
          "description" : "First name for billing information"
        },
        "billingFax" : {
          "type" : "string",
          "description" : "Fax number for billing contact"
        },
        "state" : {
          "type" : "string",
          "description" : "State for the user's address"
        },
        "fax" : {
          "type" : "integer",
          "description" : "Fax number for the user"
        },
        "email" : {
          "type" : "string",
          "description" : "Email address of the user"
        },
        "billingZip" : {
          "type" : "string",
          "description" : "ZIP code for the billing address"
        },
        "zip" : {
          "type" : "string",
          "description" : "ZIP code for the user's address"
        },
        "address2" : {
          "type" : "string",
          "description" : "Second line of the user address (optional)"
        },
        "address1" : {
          "type" : "string",
          "description" : "First line of the user address"
        },
        "cartId" : {
          "type" : "string",
          "description" : "Unique identifier for the cart"
        },
        "flagBillingInformation" : {
          "type" : "string",
          "description" : "Flag indicating if billing information is provided (0 or 1)"
        },
        "userId" : {
          "type" : "string",
          "description" : "Unique identifier for the user"
        },
        "displayMode" : {
          "type" : "integer",
          "description" : "Display mode preference for the user interface"
        },
        "firstName" : {
          "type" : "string",
          "description" : "First name of the user"
        },
        "billingLastName" : {
          "type" : "string",
          "description" : "Last name for billing information"
        },
        "phone" : {
          "type" : "string",
          "description" : "Phone number for the user"
        },
        "billingCity" : {
          "type" : "string",
          "description" : "City for the billing address"
        },
        "billingPhone" : {
          "type" : "string",
          "description" : "Phone number for billing contact"
        },
        "username" : {
          "type" : "string",
          "description" : "Username of the user"
        }
      }
    },
    "EventOrderAttendeeSuccess" : {
      "type" : "object",
      "properties" : {
        "result" : {
          "type" : "object",
          "properties" : {
            "OrganizationName" : {
              "type" : "string",
              "description" : "Name of the organization associated with the attendee"
            },
            "Zip" : {
              "type" : "string",
              "description" : "Zip code of the attendee's address"
            },
            "Category" : {
              "type" : "string",
              "description" : "Category of the attendee (e.g., Adult)"
            },
            "Email" : {
              "type" : "string",
              "description" : "Email address of the attendee"
            },
            "ShoeSize" : {
              "type" : "string",
              "description" : "Shoe size of the attendee"
            },
            "RegistrationID" : {
              "type" : "integer",
              "description" : "Unique identifier for the registration"
            },
            "CellPhone" : {
              "type" : "string",
              "description" : "Cell phone number of the attendee (optional)"
            },
            "Gender" : {
              "type" : "string",
              "description" : "Gender identifier for the attendee"
            },
            "Ranking" : {
              "type" : "integer",
              "description" : "Ranking of the attendee"
            },
            "Phone" : {
              "type" : "string",
              "description" : "Phone number of the attendee"
            },
            "Race" : {
              "type" : "string",
              "description" : "Race identifier for the attendee"
            },
            "NameFirst" : {
              "type" : "string",
              "description" : "First name of the attendee"
            },
            "ShirtSize" : {
              "type" : "string",
              "description" : "Shirt size of the attendee"
            },
            "Age" : {
              "type" : "string",
              "description" : "Age of the attendee"
            },
            "RegistrationNameID" : {
              "type" : "integer",
              "description" : "Unique identifier for the registration name"
            },
            "Address2" : {
              "type" : "string",
              "description" : "Second line of the address (optional)"
            },
            "FieldBIT" : {
              "type" : "integer",
              "description" : "Field BIT value for the attendee"
            },
            "Rank" : {
              "type" : "integer",
              "description" : "Rank of the attendee"
            },
            "NameLast" : {
              "type" : "string",
              "description" : "Last name of the attendee"
            },
            "Address1" : {
              "type" : "string",
              "description" : "First line of the address"
            },
            "City" : {
              "type" : "string",
              "description" : "City of the attendee's address"
            },
            "Type" : {
              "type" : "string",
              "description" : "Type of the attendee"
            },
            "FlagWaiver" : {
              "type" : "integer",
              "description" : "Flag indicating if a waiver is signed"
            },
            "State" : {
              "type" : "string",
              "description" : "State of the attendee's address"
            },
            "EventID" : {
              "type" : "integer",
              "description" : "Unique identifier for the event (optional)"
            },
            "CheckoutEventID" : {
              "type" : "integer",
              "description" : "Unique identifier for the checkout event"
            },
            "Waiver" : {
              "type" : "string",
              "description" : "Details of the waiver"
            }
          }
        },
        "success" : {
          "type" : "boolean",
          "description" : "true"
        },
        "message" : {
          "type" : "string",
          "description" : "Event order attendee fetched successfully."
        }
      }
    },
    "SuccessModel" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "boolean",
          "description" : "success"
        },
        "message" : {
          "type" : "string",
          "description" : "success message"
        }
      }
    },
    "OrderReceiptSuccess" : {
      "type" : "object",
      "properties" : {
        "result" : {
          "type" : "object",
          "properties" : {
            "itemData" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "CheckOutTime" : {
                    "type" : "string",
                    "description" : "Check-out time for the item (optional)"
                  },
                  "FamilyFee" : {
                    "type" : "number",
                    "format" : "double",
                    "description" : "Fee for family registration (optional)"
                  },
                  "PromoCode" : {
                    "type" : "string",
                    "description" : "Promo code used for the item (if any)"
                  },
                  "EventType" : {
                    "type" : "string",
                    "description" : "Type of event (optional)"
                  },
                  "RegistrationID" : {
                    "type" : "integer",
                    "description" : "Unique identifier for the registration"
                  },
                  "ItemType" : {
                    "type" : "string",
                    "description" : "Type of the item (e.g., Event)"
                  },
                  "TeamName" : {
                    "type" : "string",
                    "description" : "Name of the team associated with the item (optional)"
                  },
                  "FlagVoid" : {
                    "type" : "integer",
                    "description" : "Flag indicating if the item is voided"
                  },
                  "ItemTitle" : {
                    "type" : "string",
                    "description" : "Title of the item"
                  },
                  "CheckInTime" : {
                    "type" : "string",
                    "description" : "Check-in time for the item (optional)"
                  },
                  "LockBoxCode" : {
                    "type" : "string",
                    "description" : "Lockbox code for the item (optional)"
                  },
                  "AdditionalFees" : {
                    "type" : "number",
                    "format" : "double",
                    "description" : "Additional fees associated with the item (optional)"
                  },
                  "LicensePlate" : {
                    "type" : "string",
                    "description" : "License plate associated with the item (optional)"
                  },
                  "FaciltiySpecialActivties" : {
                    "type" : "string",
                    "description" : "Special activities associated with the facility (optional)"
                  },
                  "ItemPrice" : {
                    "type" : "number",
                    "format" : "double",
                    "description" : "Price of the item"
                  },
                  "Quantity" : {
                    "type" : "integer",
                    "description" : "Quantity of the item ordered"
                  },
                  "EventName" : {
                    "type" : "string",
                    "description" : "Name of the event (optional)"
                  },
                  "ConvenienceFee" : {
                    "type" : "number",
                    "format" : "double",
                    "description" : "Convenience fee for the order"
                  },
                  "ItemID" : {
                    "type" : "integer",
                    "description" : "Unique identifier for the item"
                  },
                  "Park" : {
                    "type" : "string",
                    "description" : "Park associated with the item"
                  },
                  "Total" : {
                    "type" : "number",
                    "format" : "double",
                    "description" : "Total amount for the item"
                  },
                  "ReservationName" : {
                    "type" : "string",
                    "description" : "Name associated with the reservation"
                  },
                  "FromDate" : {
                    "type" : "string",
                    "format" : "date-time",
                    "description" : "Start date of the event"
                  },
                  "ToDate" : {
                    "type" : "string",
                    "format" : "date-time",
                    "description" : "End date of the event"
                  },
                  "UserRegistrationType" : {
                    "type" : "string",
                    "description" : "Type of user registration (e.g., Individual)"
                  },
                  "OrderItemID" : {
                    "type" : "integer",
                    "description" : "Item ID of the order"
                  }
                }
              }
            },
            "orderData" : {
              "type" : "object",
              "properties" : {
                "CardNumber" : {
                  "type" : "string",
                  "description" : "Masked card number"
                },
                "FlagIsAdminFeeOverridden" : {
                  "type" : "integer",
                  "description" : "Flag indicating if admin fee has been overridden"
                },
                "PromoTotal" : {
                  "type" : "number",
                  "format" : "double",
                  "description" : "Total discount from the promo code (optional)"
                },
                "BillingCity" : {
                  "type" : "string",
                  "description" : "City of the billing address"
                },
                "PromoCode" : {
                  "type" : "string",
                  "description" : "Promotional code used for the order"
                },
                "BillingFax" : {
                  "type" : "string",
                  "description" : "Fax number for the billing address (optional)"
                },
                "DateCreated" : {
                  "type" : "string",
                  "format" : "date-time",
                  "description" : "Date and time when the order was created"
                },
                "EventTotal" : {
                  "type" : "number",
                  "format" : "double",
                  "description" : "Total for event items in the order"
                },
                "BillingPhone" : {
                  "type" : "string",
                  "description" : "Phone number for the billing address"
                },
                "OrderID" : {
                  "type" : "string",
                  "description" : "Unique identifier for the order"
                },
                "BillingZip" : {
                  "type" : "string",
                  "description" : "Zip code of the billing address"
                },
                "County" : {
                  "type" : "string",
                  "description" : "Name of the county"
                },
                "FacilityTotal" : {
                  "type" : "number",
                  "format" : "double",
                  "description" : "Total for facility items in the order"
                },
                "TransactionID" : {
                  "type" : "array",
                  "description" : "List of transaction IDs associated with the order",
                  "items" : {
                    "type" : "string"
                  }
                },
                "CardType" : {
                  "type" : "string",
                  "description" : "Type of card used for payment"
                },
                "PaymentType" : {
                  "type" : "string",
                  "description" : "Type of payment used (optional)"
                },
                "ReceiptHTML" : {
                  "type" : "string",
                  "description" : "HTML content for the receipt (optional)"
                },
                "NameOnCard" : {
                  "type" : "string",
                  "description" : "Name on the payment card"
                },
                "BillingLicensePlate" : {
                  "type" : "string",
                  "description" : "License plate associated with the billing (optional)"
                },
                "SecurityCode" : {
                  "type" : "string",
                  "description" : "Security code of the card (optional)"
                },
                "PaymentStatus" : {
                  "type" : "string",
                  "description" : "Status of the payment"
                },
                "ExpirationYear" : {
                  "type" : "string",
                  "description" : "Expiration year of the card (optional)"
                },
                "AuthorizationDate" : {
                  "type" : "string",
                  "format" : "date-time",
                  "description" : "Date and time when the payment was authorized"
                },
                "UserName" : {
                  "type" : "string",
                  "description" : "Username of the person who placed the order"
                },
                "BillingAddress1" : {
                  "type" : "string",
                  "description" : "First line of the billing address"
                },
                "AuthCode" : {
                  "type" : "string",
                  "description" : "Authorization code for the transaction"
                },
                "BillingAddress2" : {
                  "type" : "string",
                  "description" : "Second line of the billing address (optional)"
                },
                "UserComment" : {
                  "type" : "string",
                  "description" : "Comment provided by the user (optional)"
                },
                "PaymentDate" : {
                  "type" : "string",
                  "format" : "date-time",
                  "description" : "Date and time when the payment was made"
                },
                "FlagConvenienceFee" : {
                  "type" : "boolean",
                  "description" : "Flag indicating if a convenience fee was applied"
                },
                "TotalConvenienceFee" : {
                  "type" : "number",
                  "format" : "double",
                  "description" : "Total convenience fee for the order"
                },
                "CountyID" : {
                  "type" : "integer",
                  "description" : "Unique identifier for the county"
                },
                "OrderDate" : {
                  "type" : "string",
                  "format" : "date-time",
                  "description" : "Date and time when the order was placed"
                },
                "Park" : {
                  "type" : "string",
                  "description" : "Name of the park associated with the order"
                },
                "FlagDonation" : {
                  "type" : "integer",
                  "description" : "Flag indicating if a donation was made"
                },
                "DonationId" : {
                  "type" : "integer",
                  "description" : "Identifier for any donation associated with the order"
                },
                "DiscountTotal" : {
                  "type" : "number",
                  "format" : "double",
                  "description" : "Total discount applied to the order"
                },
                "ParkID" : {
                  "type" : "integer",
                  "description" : "Unique identifier for the park associated with the order"
                },
                "OfferValue" : {
                  "type" : "number",
                  "format" : "double",
                  "description" : "Value of any offers applied to the order"
                },
                "BillingFirstName" : {
                  "type" : "string",
                  "description" : "First name of the billing address"
                },
                "BillingLastName" : {
                  "type" : "string",
                  "description" : "Last name of the billing address"
                },
                "OrderTotal" : {
                  "type" : "number",
                  "format" : "double",
                  "description" : "Total amount for the order"
                },
                "ExpirationMonth" : {
                  "type" : "string",
                  "description" : "Expiration month of the card (optional)"
                },
                "BillingState" : {
                  "type" : "string",
                  "description" : "State of the billing address"
                },
                "BillingEmail" : {
                  "type" : "string",
                  "description" : "Email address for the billing"
                },
                "CountyAdminMail" : {
                  "type" : "string",
                  "description" : "Email address for county administration"
                }
              }
            },
            "orderItemData" : {
              "type" : "object",
              "properties" : {
                "PromoTotal" : {
                  "type" : "number",
                  "format" : "double",
                  "description" : "Total from promo codes"
                },
                "OfferValue" : {
                  "type" : "number",
                  "format" : "double",
                  "description" : "Value of any offers applied"
                },
                "EventTotal" : {
                  "type" : "number",
                  "format" : "double",
                  "description" : "Total for event items"
                },
                "FacilityTotal" : {
                  "type" : "number",
                  "format" : "double",
                  "description" : "Total for facility items"
                }
              }
            },
            "countyEmailMessage" : {
              "type" : "string",
              "description" : "Email message for the county"
            }
          }
        },
        "success" : {
          "type" : "boolean",
          "description" : "true"
        },
        "message" : {
          "type" : "string",
          "description" : "Order receipt build successfully"
        }
      }
    },
    "InvalidRegEventsSuccess" : {
      "type" : "object",
      "properties" : {
        "result" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "EventName" : {
                "type" : "string",
                "description" : "Unique identifier for the job."
              }
            }
          }
        },
        "success" : {
          "type" : "boolean",
          "description" : "true"
        },
        "message" : {
          "type" : "string",
          "description" : "Invalid cart items fetched successfully"
        }
      }
    },
    "ModifyEventOrderData" : {
      "type" : "object",
      "required" : [ "adultCount", "cartId", "childrenCount", "registrationId", "username" ],
      "properties" : {
        "adultCount" : {
          "type" : "integer",
          "description" : "Number of adults attending"
        },
        "cartId" : {
          "type" : "string",
          "description" : "Identifier for the shopping cart"
        },
        "registrationId" : {
          "type" : "integer",
          "description" : "Unique identifier for the registration"
        },
        "childrenCount" : {
          "type" : "integer",
          "description" : "Number of children attending"
        },
        "username" : {
          "type" : "string",
          "description" : "Username of the person registering"
        }
      }
    },
    "InsertTempOrderData" : {
      "type" : "object",
      "required" : [ "billingAddress1", "billingAddress2", "billingCity", "billingEmail", "billingFax", "billingFirstName", "billingLastName", "billingLicensePlate", "billingPhone", "billingState", "billingZip", "cartId", "countyId", "discountTotal", "donationId", "employer", "flagDonation", "flagExcludeProcessingFees", "machineName", "orderTotal", "parkId", "payablePercent", "promoCode", "promoTotal", "token", "type", "userComment", "userIp", "username" ],
      "properties" : {
        "payablePercent" : {
          "type" : "number",
          "format" : "float",
          "description" : "Percentage of the amount to be paid"
        },
        "donationId" : {
          "type" : "integer",
          "description" : "Identifier for the donation"
        },
        "type" : {
          "type" : "string",
          "description" : "Type of the order"
        },
        "parkId" : {
          "type" : "integer",
          "description" : "Identifier for the park"
        },
        "machineName" : {
          "type" : "string",
          "description" : "Name of the machine used to place the order"
        },
        "billingAddress2" : {
          "type" : "string",
          "description" : "Second line of the billing address"
        },
        "billingAddress1" : {
          "type" : "string",
          "description" : "First line of the billing address"
        },
        "billingEmail" : {
          "type" : "string",
          "description" : "Email address for billing notifications"
        },
        "countyId" : {
          "type" : "integer",
          "description" : "Identifier for the county"
        },
        "billingFirstName" : {
          "type" : "string",
          "description" : "First name of the billing contact"
        },
        "employer" : {
          "type" : "string",
          "description" : "Employer name"
        },
        "promoCode" : {
          "type" : "string",
          "description" : "Promotion code used for the order"
        },
        "billingFax" : {
          "type" : "string",
          "description" : "Fax number for the billing contact"
        },
        "flagDonation" : {
          "type" : "boolean",
          "description" : "Flag indicating if this is a donation"
        },
        "billingZip" : {
          "type" : "string",
          "description" : "ZIP code for the billing address"
        },
        "cartId" : {
          "type" : "string",
          "description" : "The unique identifier for the cart"
        },
        "billingLicensePlate" : {
          "type" : "string",
          "description" : "License plate number for billing purposes"
        },
        "billingState" : {
          "type" : "string",
          "description" : "State for the billing address"
        },
        "flagExcludeProcessingFees" : {
          "type" : "boolean",
          "description" : "Flag to exclude processing fees"
        },
        "orderTotal" : {
          "type" : "number",
          "format" : "money",
          "description" : "Total order amount after discounts and promotions"
        },
        "token" : {
          "type" : "string",
          "description" : "Token associated with the order"
        },
        "billingLastName" : {
          "type" : "string",
          "description" : "Last name of the billing contact"
        },
        "userComment" : {
          "type" : "string",
          "description" : "Comments from the user regarding the order"
        },
        "discountTotal" : {
          "type" : "number",
          "format" : "money",
          "description" : "Total discount amount"
        },
        "promoTotal" : {
          "type" : "number",
          "format" : "money",
          "description" : "Total amount of promotions applied"
        },
        "userIp" : {
          "type" : "string",
          "description" : "IP address of the user placing the order"
        },
        "billingCity" : {
          "type" : "string",
          "description" : "City for the billing address"
        },
        "billingPhone" : {
          "type" : "string",
          "description" : "Phone number for the billing contact"
        },
        "userModified" : {
          "type" : "string",
          "description" : "User who modified the order"
        },
        "username" : {
          "type" : "string",
          "description" : "Username of the person placing the order"
        }
      }
    },
    "ErrorModel" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "Error code"
        },
        "message" : {
          "type" : "string",
          "description" : "Error message"
        }
      }
    },
    "CartItemPricesResponse" : {
      "type" : "object",
      "properties" : {
        "result" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "Item" : {
                "type" : "string",
                "description" : "The item name or date"
              },
              "Type" : {
                "type" : "string",
                "description" : "The type of the item (e.g., Date, Processing Fee)"
              },
              "Price" : {
                "type" : "number",
                "format" : "float",
                "description" : "The price of the item"
              }
            }
          }
        },
        "success" : {
          "type" : "boolean",
          "description" : "Indicates if the operation was successful"
        },
        "message" : {
          "type" : "string",
          "description" : "A message describing the result of the operation"
        }
      }
    },
    "InsertOrderData" : {
      "type" : "object",
      "required" : [ "authCode", "billingAddress1", "billingAddress2", "billingCity", "billingEmail", "billingFax", "billingFirstName", "billingLastName", "billingLicensePlate", "billingPhone", "billingState", "billingZip", "cardName", "cardNumber", "cardType", "cartId", "countyId", "discountTotal", "donationId", "employer", "flagAuthorizeOrderWithoutProcessing", "flagDonation", "flagExcludeProcessingFees", "machineName", "orderTotal", "payablePercent", "promoCode", "promoTotal", "transactionId", "type", "userCreated", "username" ],
      "properties" : {
        "payablePercent" : {
          "type" : "number",
          "format" : "float",
          "description" : "Percentage of the amount to be paid"
        },
        "cardName" : {
          "type" : "string",
          "description" : "Name on the card"
        },
        "donationId" : {
          "type" : "integer",
          "description" : "Identifier for the donation"
        },
        "type" : {
          "type" : "string",
          "description" : "Type of the order"
        },
        "userCreated" : {
          "type" : "string",
          "description" : "User who created the order"
        },
        "machineName" : {
          "type" : "string",
          "description" : "Name of the machine used to place the order"
        },
        "billingAddress2" : {
          "type" : "string",
          "description" : "Second line of the billing address"
        },
        "billingAddress1" : {
          "type" : "string",
          "description" : "First line of the billing address"
        },
        "billingEmail" : {
          "type" : "string",
          "description" : "Email address for billing notifications"
        },
        "countyId" : {
          "type" : "integer",
          "description" : "Identifier for the county"
        },
        "billingFirstName" : {
          "type" : "string",
          "description" : "First name of the billing contact"
        },
        "employer" : {
          "type" : "string",
          "description" : "Employer name"
        },
        "promoCode" : {
          "type" : "string",
          "description" : "Promotion code used for the order"
        },
        "billingFax" : {
          "type" : "string",
          "description" : "Fax number for the billing contact"
        },
        "flagDonation" : {
          "type" : "boolean",
          "description" : "Flag indicating if this is a donation"
        },
        "flagAuthorizeOrderWithoutProcessing" : {
          "type" : "boolean",
          "description" : "Flag to authorize the order without processing"
        },
        "billingZip" : {
          "type" : "string",
          "description" : "ZIP code for the billing address"
        },
        "authCode" : {
          "type" : "string",
          "description" : "Authorization code for the transaction"
        },
        "cartId" : {
          "type" : "string",
          "description" : "The unique identifier for the cart"
        },
        "billingLicensePlate" : {
          "type" : "string",
          "description" : "License plate number for billing purposes"
        },
        "cardType" : {
          "type" : "string",
          "description" : "Type of the card used for payment"
        },
        "billingState" : {
          "type" : "string",
          "description" : "State for the billing address"
        },
        "flagExcludeProcessingFees" : {
          "type" : "boolean",
          "description" : "Flag to exclude processing fees"
        },
        "orderTotal" : {
          "type" : "number",
          "format" : "money",
          "description" : "Total order amount after discounts and promotions"
        },
        "transactionId" : {
          "type" : "string",
          "description" : "Unique identifier for the transaction"
        },
        "billingLastName" : {
          "type" : "string",
          "description" : "Last name of the billing contact"
        },
        "discountTotal" : {
          "type" : "number",
          "format" : "money",
          "description" : "Total discount amount"
        },
        "promoTotal" : {
          "type" : "number",
          "format" : "money",
          "description" : "Total amount of promotions applied"
        },
        "cardNumber" : {
          "type" : "string",
          "description" : "Card number"
        },
        "billingCity" : {
          "type" : "string",
          "description" : "City for the billing address"
        },
        "billingPhone" : {
          "type" : "string",
          "description" : "Phone number for the billing contact"
        },
        "username" : {
          "type" : "string",
          "description" : "Username of the person placing the order"
        }
      }
    }
  }
}