{
    "swagger" : "2.0",
    "info" : {
      "version" : "2024-08-15T15:41:16Z",
      "title" : "dev-resources"
    },
    "host" : "rest.mycountyparks.com",
    "schemes" : [ "https" ],
    "paths" : {
      "/activity" : {
        "get" : {
          "summary" : "Activity Listing",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "keyword",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "park",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "county",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "longitude",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "latitude",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "facilityId",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "facilityTitle",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/ActivityListingSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/activity-icon" : {
        "get" : {
          "summary" : "Activity Icon Listing",
          "produces" : [ "application/json" ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/ActivityIconListingSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/activity/{title}" : {
        "get" : {
          "summary" : "Activity Details",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "park",
            "in" : "query",
            "description" : "Park Name",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "title",
            "in" : "path",
            "description" : "Activity Title",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/ActivityDetailSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/banner" : {
        "get" : {
          "summary" : "Banner Ad",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "keyword",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "countyId",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "zoneId",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "defaultZoneId",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/BannerAdSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/check-availability" : {
        "get" : {
          "summary" : "Get Facility Dates",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "toDate",
            "in" : "query",
            "description" : "The end date for the filter. Results will include data up to and including this date.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "year",
            "in" : "query",
            "description" : "The year for which the data is being filtered. Results will include data specific to this year.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "cartId",
            "in" : "query",
            "description" : "Unique identifier for the cart. Used to filter results specific to a particular cart.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "facilityId",
            "in" : "query",
            "description" : "Unique identifier for the facility. Used to filter results specific to a particular facility.",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "fromDate",
            "in" : "query",
            "description" : "The start date for the filter. Results will include data from this date onward.",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/FacilityDatesSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/content" : {
        "get" : {
          "summary" : "Get Content Detail",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "parentPageTitle",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "pageGuid",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "zoneId",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "projectId",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "pageTitle",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "flagIncrementView",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/ContentDetailSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/county" : {
        "get" : {
          "summary" : "County Listing",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "keyword",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "pageSize",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "startsWith",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "facilityType",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "longitude",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "recentlyUpdated",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "pageNumber",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "latitude",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "hasEvents",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/CountySuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/county-map" : {
        "get" : {
          "summary" : "County Map Links",
          "produces" : [ "application/json" ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/CountyMapSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/county-name" : {
        "get" : {
          "summary" : "County ID by Name",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "county",
            "in" : "query",
            "description" : "County Name",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/SuccessModel"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/county/{id}" : {
        "get" : {
          "summary" : "County Details",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "id",
            "in" : "path",
            "description" : "County ID",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/CountyDetailSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/dropdown" : {
        "get" : {
          "summary" : "Dropdown values",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "param2",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "param3",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "listingName",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "param1",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/DropdownSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            },
            "404" : {
              "description" : "404 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/event/{id}" : {
        "get" : {
          "summary" : "Event Details",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "id",
            "in" : "path",
            "description" : "Event ID",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/EventDetailSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/events" : {
        "get" : {
          "summary" : "Event Listing",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "activityTitle",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "flagAll",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "endDate",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "longitude",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "pageNumber",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "registrationType",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "startDate",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "keyword",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "parkId",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "category",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "pageSize",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "flagAdminOrder",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "countyId",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "latitude",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/EventListingSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/facility" : {
        "get" : {
          "summary" : "Facility Listing",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "amenityBit",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "checkInDate",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "countyIdList",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "city",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "activityBit",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "facilityId",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "keyword",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "parkId",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "checkOutDate",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "countyId",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "startIncrement",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "noOfRecords",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "facilityTypeList",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/FacilityListingSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/facility-search" : {
        "get" : {
          "summary" : "Facility Search",
          "produces" : [ "application/json" ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/FacilitySearchSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/facility/{name}" : {
        "get" : {
          "summary" : "Facility Details",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "name",
            "in" : "path",
            "description" : "Facility Name",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "countyName",
            "in" : "query",
            "description" : "County Name",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "parkName",
            "in" : "query",
            "description" : "Park Name",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/FacilityDetailSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/faqs" : {
        "get" : {
          "summary" : "FAQ Listing",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "parkId",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "countyId",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/FAQListingSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/feature/events" : {
        "get" : {
          "summary" : "Event Listing",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "parkId",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "longitude",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "countyId",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "pageNumber",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "latitude",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "pageSize",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/FeatureEventListingSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/feature/facility" : {
        "get" : {
          "summary" : "Featured Facility Listing",
          "produces" : [ "application/json" ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/FeaturedFacilityListingSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/feature/news" : {
        "get" : {
          "summary" : "Featured News Listing",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "countyName",
            "in" : "query",
            "description" : "County Name",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "returnCount",
            "in" : "query",
            "description" : "No of records",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "parkName",
            "in" : "query",
            "description" : "Park Name",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/FeatureNewsListingSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/footer-nav" : {
        "get" : {
          "summary" : "Footer Nav",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "area",
            "in" : "query",
            "description" : "filter for the listing",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/FooterNavSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/job" : {
        "get" : {
          "summary" : "Job Listing",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "keyword",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "countyId",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/JobSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/job/{id}" : {
        "get" : {
          "summary" : "Job Details",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "id",
            "in" : "path",
            "description" : "Job Guid ID",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/JobDetailsSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/nearby-attractions" : {
        "get" : {
          "summary" : "Nearby Attractions",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "countyName",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "longitude",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "latitude",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "parkName",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/NearbyAttractionSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/news" : {
        "get" : {
          "summary" : "News Listing",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "keyword",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "categoryIds",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "pageSize",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "countyName",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "pageNumber",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "parkName",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "tagIds",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "flagFullDisplay",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/NewsSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/news/{id}" : {
        "get" : {
          "summary" : "News Details",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "countyId",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "title",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "id",
            "in" : "path",
            "description" : "News ID",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/NewsDetailSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/park" : {
        "get" : {
          "summary" : "Park Listing",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "keyword",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "pageSize",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "startsWith",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "facilityType",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "activity",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "countyName",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "longitude",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "recentlyUpdated",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "pageNumber",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "latitude",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "hasEvents",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/ParkSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/park/{name}" : {
        "get" : {
          "summary" : "Park Details",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "name",
            "in" : "path",
            "description" : "Park Name",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "county",
            "in" : "query",
            "description" : "County Name",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/ParkDetailSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/popular/park" : {
        "get" : {
          "summary" : "Popular Park Listing",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "pageSize",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "countyName",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "pageNumber",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/ParkSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/regulations/{id}" : {
        "get" : {
          "summary" : "Rules And Regulations",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "id",
            "in" : "path",
            "description" : "filter used for filtering result accordingly",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/RegulationSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/related-item" : {
        "get" : {
          "summary" : "Get Related Item",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "category",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "subCategory",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "flagOnDisplay",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "projectId",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "flagIncludeDirectory",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "keywordSearch",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "itemType",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "flagIncludeBlob",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "relatedId",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "sectionName",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "relatedType",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "dateRange",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/RelatedItemSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/related/events" : {
        "get" : {
          "summary" : "Related Event Listing",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "parkId",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "category",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "countyId",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "pageNumber",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "eventId",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "pageSize",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/EventListingSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/remind-me" : {
        "post" : {
          "summary" : "Set Event Reminder",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "EventData",
            "required" : true,
            "schema" : {
              "$ref" : "#/definitions/EventData"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/SuccessModel"
              }
            },
            "404" : {
              "description" : "404 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/send-mail" : {
        "post" : {
          "summary" : "Send Content Mail",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "MailData",
            "required" : true,
            "schema" : {
              "$ref" : "#/definitions/MailData"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/SuccessModel"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            },
            "404" : {
              "description" : "404 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/setting" : {
        "get" : {
          "summary" : "Setting",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "module",
            "in" : "query",
            "description" : "Park ID",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/SettingSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      },
      "/sitemap" : {
        "get" : {
          "summary" : "Site Map Listing",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "url",
            "in" : "query",
            "description" : "filter used for filtering result accordingly",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "schema" : {
                "$ref" : "#/definitions/SiteMapListingSuccess"
              }
            },
            "500" : {
              "description" : "500 response",
              "schema" : {
                "$ref" : "#/definitions/ErrorModel"
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      }
    },
    "securityDefinitions" : {
      "api_key" : {
        "type" : "apiKey",
        "name" : "x-api-key",
        "in" : "header"
      }
    },
    "definitions" : {
      "FeaturedFacilityListingSuccess" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "ImageGuid" : {
                  "type" : "string",
                  "description" : "The GUID of the image associated with the facility."
                },
                "FacilityID" : {
                  "type" : "integer",
                  "description" : "The unique identifier for the facility."
                },
                "CountyURL" : {
                  "type" : "string",
                  "description" : "The URL for more information about the county."
                },
                "TotalCount" : {
                  "type" : "integer",
                  "description" : "The total number of facilities."
                },
                "ImageBlob" : {
                  "type" : "string",
                  "description" : "The image blob associated with the facility."
                },
                "CountyID" : {
                  "type" : "integer",
                  "description" : "The unique identifier for the county."
                },
                "FacilityURL" : {
                  "type" : "string",
                  "description" : "The URL for more information about the facility."
                },
                "County" : {
                  "type" : "string",
                  "description" : "The name of the county."
                },
                "ParkName" : {
                  "type" : "string",
                  "description" : "The name of the park."
                },
                "FacilityName" : {
                  "type" : "string",
                  "description" : "The name of the facility."
                }
              }
            }
          },
          "success" : {
            "type" : "boolean",
            "description" : "true"
          },
          "message" : {
            "type" : "string",
            "description" : "Facility listing fetched Successfuly"
          }
        },
        "description" : "Listing of facility."
      },
      "ParkSuccess" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "parkImageUrl" : {
                  "type" : "string",
                  "description" : "The URL of the image representing the park."
                },
                "parkName" : {
                  "type" : "string",
                  "description" : "The name of the park."
                },
                "countyId" : {
                  "type" : "integer",
                  "description" : "The unique identifier for the county."
                },
                "totalCount" : {
                  "type" : "integer",
                  "description" : "The total count of items related to the park."
                },
                "parkId" : {
                  "type" : "integer",
                  "description" : "The unique identifier for the park."
                },
                "countyName" : {
                  "type" : "string",
                  "description" : "The name of the county."
                }
              }
            }
          },
          "success" : {
            "type" : "boolean",
            "description" : "true"
          },
          "message" : {
            "type" : "string",
            "description" : "Park listing fetched successfully"
          }
        }
      },
      "NearbyAttractionSuccess" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "distance" : {
                  "type" : "integer",
                  "description" : "The distance of the attraction."
                },
                "latitude" : {
                  "type" : "integer",
                  "description" : "The latitude of the attraction."
                },
                "ImageUrl" : {
                  "type" : "string",
                  "description" : "The URL of the image representing the attraction."
                },
                "Id" : {
                  "type" : "integer",
                  "description" : "The unique identifier for the attraction."
                },
                "Name" : {
                  "type" : "string",
                  "description" : "The name of the attraction."
                },
                "longitude" : {
                  "type" : "integer",
                  "description" : "The longitude of the attraction."
                }
              }
            }
          },
          "success" : {
            "type" : "boolean",
            "description" : "true"
          },
          "message" : {
            "type" : "string",
            "description" : "Nearby Attractions fetched successfully"
          }
        }
      },
      "ActivityIconListingSuccess" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "ImageName" : {
                  "type" : "string",
                  "description" : "The name of the image"
                },
                "ImageUrl" : {
                  "type" : "string",
                  "description" : "The url of the icon"
                },
                "Id" : {
                  "type" : "integer",
                  "description" : "The unique identifier for the activity."
                },
                "Name" : {
                  "type" : "string",
                  "description" : "The title of the activity."
                }
              }
            }
          },
          "success" : {
            "type" : "boolean",
            "description" : "true"
          },
          "message" : {
            "type" : "string",
            "description" : "Activity listing fetched Successfully"
          }
        },
        "description" : "Listing of Activity."
      },
      "EventData" : {
        "type" : "object",
        "required" : [ "email", "eventId", "name", "oneDayReminder", "oneWeekReminder", "startDate" ],
        "properties" : {
          "eventId" : {
            "type" : "integer",
            "description" : "Id of the event"
          },
          "oneDayReminder" : {
            "type" : "string",
            "description" : "Name of the event receiver"
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the event receiver"
          },
          "oneWeekReminder" : {
            "type" : "string",
            "description" : "Name of the event receiver"
          },
          "email" : {
            "type" : "string",
            "description" : "Email address of the receiver",
            "pattern" : "^(([^<>()[\\]\\\\.,;:\\s@\\\"]+(\\.[^<>()[\\]\\\\.,;:\\s@\\\"]+)*)|(\\\".+\\\"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$"
          },
          "startDate" : {
            "type" : "string",
            "description" : "Name of the event receiver"
          }
        }
      },
      "FAQListingSuccess" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "Answer" : {
                  "type" : "string",
                  "description" : "The FAQ answer."
                },
                "ContentImageUrl" : {
                  "type" : "string",
                  "description" : "The URL of the content image."
                },
                "AssociatedCountyID" : {
                  "type" : "integer",
                  "description" : "The ID of the associated county."
                },
                "Category" : {
                  "type" : "string",
                  "description" : "The category of the FAQ."
                },
                "FAQID" : {
                  "type" : "integer",
                  "description" : "The ID of the FAQ."
                },
                "Question" : {
                  "type" : "string",
                  "description" : "The FAQ question."
                },
                "AssociatedParkID" : {
                  "type" : "integer",
                  "description" : "The ID of the associated park."
                }
              }
            }
          },
          "success" : {
            "type" : "boolean",
            "description" : "true"
          },
          "message" : {
            "type" : "string",
            "description" : "Faq listing fetched Successfully"
          }
        },
        "description" : "Listing of Faqs."
      },
      "EventDetailSuccess" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "object",
            "properties" : {
              "FlagOnDisplay" : {
                "type" : "integer",
                "description" : "Indicates if the event is on display"
              },
              "Zip" : {
                "type" : "string",
                "description" : "Zip code of the event location"
              },
              "MaxAttendees" : {
                "type" : "integer",
                "description" : "Maximum number of attendees"
              },
              "AdultMax" : {
                "type" : "integer",
                "description" : "Maximum number of adults"
              },
              "RegistrationStartDate" : {
                "type" : "string",
                "description" : "Registration start date"
              },
              "Category" : {
                "type" : "string",
                "description" : "Category of the Event"
              },
              "EndTime" : {
                "type" : "string",
                "description" : "End time of the event"
              },
              "FamilyFee" : {
                "type" : "integer",
                "description" : "Fee for families"
              },
              "TeaserContent" : {
                "type" : "string",
                "description" : "Teaser content for the event"
              },
              "RegistrationEndDate" : {
                "type" : "string",
                "description" : "Registration end date"
              },
              "DateCreated" : {
                "type" : "string",
                "description" : "Date the event was created"
              },
              "Activity" : {
                "type" : "string",
                "description" : "Activities associated with the event"
              },
              "Latitude" : {
                "type" : "string",
                "description" : "Latitude of the event location"
              },
              "ChildMax" : {
                "type" : "integer",
                "description" : "Maximum number of children"
              },
              "County" : {
                "type" : "string",
                "description" : "Name of the county"
              },
              "StartDate" : {
                "type" : "string",
                "description" : "Start date of the event"
              },
              "RegistrationType" : {
                "type" : "string",
                "description" : "Type of registration for the event"
              },
              "ContactInfo" : {
                "type" : "string",
                "description" : "Contact information for the event"
              },
              "FlagInUse" : {
                "type" : "integer",
                "description" : "Indicates if the event is in use"
              },
              "AttendeeCount" : {
                "type" : "integer",
                "description" : "Number of attendees"
              },
              "FamilyMaxCount" : {
                "type" : "integer",
                "description" : "Maximum number of families"
              },
              "EventTitle" : {
                "type" : "string",
                "description" : "Title of the Event"
              },
              "ToRegister" : {
                "type" : "string",
                "description" : "Instructions to register"
              },
              "AdultFee" : {
                "type" : "integer",
                "description" : "Fee for adults"
              },
              "FlagFeatured" : {
                "type" : "integer",
                "description" : "Indicates if the event is featured"
              },
              "StartTime" : {
                "type" : "string",
                "description" : "Start time of the event"
              },
              "Address2" : {
                "type" : "string",
                "description" : "Secondary address of the event"
              },
              "ImageUrl" : {
                "type" : "string",
                "description" : "URL of the event image"
              },
              "Address1" : {
                "type" : "string",
                "description" : "Primary address of the event"
              },
              "City" : {
                "type" : "string",
                "description" : "City where the event is located"
              },
              "CountyID" : {
                "type" : "integer",
                "description" : "ID of the county"
              },
              "EndDate" : {
                "type" : "string",
                "description" : "End date of the event"
              },
              "FullContent" : {
                "type" : "string",
                "description" : "Full content for the event"
              },
              "Longitude" : {
                "type" : "string",
                "description" : "Longitude of the event location"
              },
              "ChildFee" : {
                "type" : "integer",
                "description" : "Fee for children"
              },
              "Park" : {
                "type" : "string",
                "description" : "Name of the park"
              },
              "AdultMin" : {
                "type" : "integer",
                "description" : "Minimum number of adults"
              },
              "ChildMin" : {
                "type" : "integer",
                "description" : "Minimum number of children"
              },
              "ParkID" : {
                "type" : "integer",
                "description" : "ID of the park"
              },
              "State" : {
                "type" : "string",
                "description" : "State where the event is located"
              },
              "RemoveDate" : {
                "type" : "string",
                "description" : "Date when the event should be removed"
              },
              "EventID" : {
                "type" : "integer",
                "description" : "ID of the Event"
              },
              "FlagTeamName" : {
                "type" : "integer",
                "description" : "Indicates if the event has a team name"
              },
              "FlagFull" : {
                "type" : "integer",
                "description" : "Indicates if the event is full"
              },
              "Location" : {
                "type" : "string",
                "description" : "Location of the event"
              }
            }
          },
          "success" : {
            "type" : "boolean",
            "description" : "true"
          },
          "message" : {
            "type" : "string",
            "description" : "Event details fetched Successfully"
          }
        },
        "description" : "Details of Event."
      },
      "FacilitySearchSuccess" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "Category" : {
                  "type" : "string",
                  "description" : "Facility Category"
                },
                "Value" : {
                  "type" : "string",
                  "description" : "Facility Id\""
                },
                "Label" : {
                  "type" : "string",
                  "description" : "Facility Name"
                }
              }
            }
          },
          "success" : {
            "type" : "boolean",
            "description" : "true"
          },
          "message" : {
            "type" : "string",
            "description" : "News listing fetched successfully"
          }
        }
      },
      "DropdownSuccess" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "Label" : {
                  "type" : "string",
                  "description" : "The label of the item."
                },
                "Value" : {
                  "type" : "string",
                  "description" : "The value associated with the label."
                }
              }
            }
          },
          "success" : {
            "type" : "boolean",
            "description" : "true"
          },
          "message" : {
            "type" : "string",
            "description" : "Dropdown label value fetched successfully"
          }
        }
      },
      "ParkDetailSuccess" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "object",
            "properties" : {
              "DescPark" : {
                "type" : "string",
                "description" : "Description of the park."
              },
              "ContentImages" : {
                "type" : "string",
                "description" : "Comma-separated URLs of content images."
              },
              "DescAttraction" : {
                "type" : "string",
                "description" : "Description of attractions at the park."
              },
              "Activity" : {
                "type" : "string",
                "description" : "Activities available at the park."
              },
              "Latitude" : {
                "type" : "string",
                "description" : "Latitude of the park's location."
              },
              "DescAccess" : {
                "type" : "string",
                "description" : "Description of the park's access points and activities."
              },
              "County" : {
                "type" : "string",
                "description" : "The name of the county."
              },
              "Name" : {
                "type" : "string",
                "description" : "The name of the park."
              },
              "DescLocation" : {
                "type" : "string",
                "description" : "Description of the park's location."
              },
              "CountyImageUrl" : {
                "type" : "string",
                "description" : "URL of the county image."
              },
              "DescClosed" : {
                "type" : "string",
                "description" : "Description of the park's closed status."
              },
              "DescHours" : {
                "type" : "string",
                "description" : "Description of the park's hours."
              },
              "ParkNewsURL" : {
                "type" : "string",
                "description" : "URL to the park's news page."
              },
              "DescActivity" : {
                "type" : "string",
                "description" : "Description of activities available at the park."
              },
              "ZipCode" : {
                "type" : "string",
                "description" : "Zip code of the park's location."
              },
              "Address2" : {
                "type" : "string",
                "description" : "Second line of the park's address."
              },
              "ImageUrl" : {
                "type" : "string",
                "description" : "URL of the park image."
              },
              "MapLocation" : {
                "type" : "string",
                "description" : "URL to the map location of the park."
              },
              "CountyID" : {
                "type" : "integer",
                "description" : "The ID of the county."
              },
              "Address1" : {
                "type" : "string",
                "description" : "First line of the park's address."
              },
              "City" : {
                "type" : "string",
                "description" : "City where the park is located."
              },
              "DescFacility" : {
                "type" : "string",
                "description" : "Description of the park's facilities."
              },
              "Longitude" : {
                "type" : "string",
                "description" : "Longitude of the park's location."
              },
              "ParkID" : {
                "type" : "integer",
                "description" : "The ID of the park."
              },
              "ParkURL" : {
                "type" : "string",
                "description" : "URL to the park's page."
              },
              "State" : {
                "type" : "string",
                "description" : "State where the park is located."
              },
              "ParkEventURL" : {
                "type" : "string",
                "description" : "URL to the park's events page."
              }
            }
          },
          "success" : {
            "type" : "boolean",
            "description" : "true"
          },
          "message" : {
            "type" : "string",
            "description" : "Park details fetched successfully"
          }
        },
        "description" : "Details of Park."
      },
      "ContentDetailSuccess" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "object",
            "properties" : {
              "ContentGUID" : {
                "type" : "string",
                "description" : "GUID of the content."
              },
              "ParentGUID" : {
                "type" : "string",
                "description" : "GUID of the parent page."
              },
              "PageGUID" : {
                "type" : "string",
                "description" : "GUID of the page."
              },
              "PageTitle" : {
                "type" : "string",
                "description" : "Title of the page."
              },
              "ContentFull" : {
                "type" : "string",
                "description" : "Full content."
              },
              "Author" : {
                "type" : "string",
                "description" : "Author of the content.",
                "default" : ""
              },
              "CountImage" : {
                "type" : "integer",
                "description" : "Count of related items that are images."
              },
              "CountRelatedItem" : {
                "type" : "integer",
                "description" : "Count of related items excluding images."
              },
              "SubTitle" : {
                "type" : "string",
                "description" : "Subtitle of the content.",
                "default" : ""
              },
              "ContentTitle" : {
                "type" : "string",
                "description" : "Title of the content."
              }
            }
          },
          "success" : {
            "type" : "boolean",
            "description" : "true"
          },
          "message" : {
            "type" : "string",
            "description" : "Content details fetched Successfully"
          }
        },
        "description" : "Details of news."
      },
      "RegulationSuccess" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "ContractItem" : {
                  "type" : "integer",
                  "description" : "Description of the Contract Item"
                },
                "ContractItemID" : {
                  "type" : "integer",
                  "description" : "ID of the Contract Item"
                }
              }
            }
          },
          "success" : {
            "type" : "boolean",
            "description" : "true"
          },
          "message" : {
            "type" : "string",
            "description" : "Rule and regulations fetched successfully"
          }
        }
      },
      "FacilityListingSuccess" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "FlagPayAtSite" : {
                  "type" : "integer",
                  "description" : "Indicates if the facility can be paid for at the site."
                },
                "Address" : {
                  "type" : "string",
                  "description" : "The address of the facility."
                },
                "ZipCode" : {
                  "type" : "string",
                  "description" : "The ZIP code of the facility."
                },
                "ReservationURL" : {
                  "type" : "string",
                  "description" : "The URL for reserving the facility."
                },
                "Latitude" : {
                  "type" : "string",
                  "description" : "The latitude coordinate of the facility."
                },
                "CountyID" : {
                  "type" : "integer",
                  "description" : "The unique identifier for the county."
                },
                "City" : {
                  "type" : "string",
                  "description" : "The city where the facility is located."
                },
                "County" : {
                  "type" : "string",
                  "description" : "The name of the county."
                },
                "Longitude" : {
                  "type" : "string",
                  "description" : "The longitude coordinate of the facility."
                },
                "FacilityName" : {
                  "type" : "string",
                  "description" : "The name of the facility."
                },
                "ImageGUID" : {
                  "type" : "string",
                  "description" : "The GUID of the image associated with the facility."
                },
                "FacilityID" : {
                  "type" : "integer",
                  "description" : "The unique identifier for the facility."
                },
                "CountyURL" : {
                  "type" : "string",
                  "description" : "The URL for more information about the county."
                },
                "TotalCount" : {
                  "type" : "integer",
                  "description" : "The total number of facilities."
                },
                "State" : {
                  "type" : "string",
                  "description" : "The state where the facility is located."
                },
                "FacilityURL" : {
                  "type" : "string",
                  "description" : "The URL for more information about the facility."
                },
                "FlagCanReserve" : {
                  "type" : "integer",
                  "description" : "Indicates if the facility can be reserved."
                },
                "ParkName" : {
                  "type" : "string",
                  "description" : "The name of the park."
                },
                "FacilityType" : {
                  "type" : "string",
                  "description" : "The type of facility."
                },
                "FlagBookNow" : {
                  "type" : "integer",
                  "description" : "Indicates if the facility can be booked now."
                }
              }
            }
          },
          "success" : {
            "type" : "boolean",
            "description" : "true"
          },
          "message" : {
            "type" : "string",
            "description" : "Facility listing fetched Successfuly"
          }
        },
        "description" : "Listing of facility."
      },
      "MailData" : {
        "type" : "object",
        "required" : [ "displayMode", "recipientEmail", "senderEmail" ],
        "properties" : {
          "senderName" : {
            "type" : "string",
            "description" : "Name of the sender"
          },
          "newsId" : {
            "type" : "integer",
            "description" : "Identifier for the news item"
          },
          "senderEmail" : {
            "type" : "string",
            "description" : "Email address of the sender",
            "pattern" : "^(([^<>()[\\]\\\\.,;:\\s@\\\"]+(\\.[^<>()[\\]\\\\.,;:\\s@\\\"]+)*)|(\\\".+\\\"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$"
          },
          "title" : {
            "type" : "string",
            "description" : "Title of the email"
          },
          "message" : {
            "type" : "string",
            "description" : "Message body of the email"
          },
          "recipientEmail" : {
            "type" : "string",
            "description" : "Email address of the recipient",
            "pattern" : "^(([^<>()[\\]\\\\.,;:\\s@\\\"]+(\\.[^<>()[\\]\\\\.,;:\\s@\\\"]+)*)|(\\\".+\\\"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$"
          },
          "url" : {
            "type" : "string",
            "description" : "URL included in the email"
          },
          "displayMode" : {
            "type" : "string",
            "description" : "Display mode for the email content"
          },
          "countyName" : {
            "type" : "string",
            "description" : "Name of the county"
          }
        }
      },
      "FeatureEventListingSuccess" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "EventTitle" : {
                  "type" : "string",
                  "description" : "Title of the Event"
                },
                "TotalCount" : {
                  "type" : "integer",
                  "description" : "Total count of events"
                },
                "EventID" : {
                  "type" : "integer",
                  "description" : "ID of the Event"
                },
                "ImageUrl" : {
                  "type" : "string",
                  "description" : "URL of the event image"
                }
              }
            }
          },
          "success" : {
            "type" : "boolean",
            "description" : "true"
          },
          "message" : {
            "type" : "string",
            "description" : "Feature Event listing fetched successfully"
          }
        }
      },
      "FeatureNewsListingSuccess" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "NewsTitle" : {
                  "type" : "string",
                  "description" : "Title of the News"
                },
                "ShortContent" : {
                  "type" : "string",
                  "description" : "Short Content of the News"
                },
                "Rank" : {
                  "type" : "string",
                  "description" : "Rank of the News"
                },
                "PostDate" : {
                  "type" : "string",
                  "description" : "Post date of the News"
                },
                "NewsURL" : {
                  "type" : "string",
                  "description" : "Url of the News"
                },
                "NewsID" : {
                  "type" : "integer",
                  "description" : "ID of the News"
                }
              }
            }
          },
          "success" : {
            "type" : "boolean",
            "description" : "true"
          },
          "message" : {
            "type" : "string",
            "description" : "Feature News listing fetched successfully"
          }
        }
      },
      "CountyMapSuccess" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "CountyURL" : {
                  "type" : "string",
                  "description" : "Url of the County"
                },
                "FusionCountyID" : {
                  "type" : "string",
                  "description" : "ID of the Fusion County"
                },
                "CountyID" : {
                  "type" : "integer",
                  "description" : "ID of the Event"
                },
                "County" : {
                  "type" : "string",
                  "description" : "Name of the County"
                }
              }
            }
          },
          "success" : {
            "type" : "boolean",
            "description" : "true"
          },
          "message" : {
            "type" : "string",
            "description" : "County map links fetched successfully"
          }
        }
      },
      "BannerAdSuccess" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "BannerAdID" : {
                  "type" : "integer",
                  "description" : "ID of the banner ad"
                },
                "ZoneID" : {
                  "type" : "integer",
                  "description" : "ID of the zone"
                },
                "Holder" : {
                  "type" : "string",
                  "description" : "Holder of the banner ad"
                },
                "Title" : {
                  "type" : "string",
                  "description" : "Title of the banner ad"
                },
                "BannerAdGUID" : {
                  "type" : "string",
                  "description" : "GUID of the banner ad"
                },
                "FlagLink" : {
                  "type" : "integer",
                  "description" : "Flag indicating if the banner ad has a link"
                },
                "FlagActive" : {
                  "type" : "integer",
                  "description" : "Flag indicating if the banner ad is active"
                },
                "ImageOnsiteGuid" : {
                  "type" : "string",
                  "description" : "GUID of the onsite image"
                },
                "VideoType" : {
                  "type" : "integer",
                  "description" : "Type of the video (if any)"
                },
                "BannerAdType" : {
                  "type" : "string",
                  "description" : "Type of the banner ad"
                },
                "ImageOffsite" : {
                  "type" : "string",
                  "description" : "URL of the offsite image"
                },
                "Type" : {
                  "type" : "string",
                  "description" : "Type of the banner ad"
                },
                "VideoLink" : {
                  "type" : "string",
                  "description" : "Link to the video (if any)"
                },
                "CampaignID" : {
                  "type" : "integer",
                  "description" : "ID of the campaign"
                },
                "VideoSource" : {
                  "type" : "string",
                  "description" : "Source of the video (if any)"
                },
                "Height" : {
                  "type" : "integer",
                  "description" : "Height of the banner ad"
                },
                "FlagHasImage" : {
                  "type" : "string",
                  "description" : "Flag indicating if the banner ad has an image"
                },
                "Width" : {
                  "type" : "integer",
                  "description" : "Width of the banner ad"
                },
                "DimensionID" : {
                  "type" : "integer",
                  "description" : "ID of the dimension"
                },
                "Link" : {
                  "type" : "string",
                  "description" : "Link associated with the banner ad"
                }
              }
            }
          },
          "success" : {
            "type" : "boolean",
            "description" : "true"
          },
          "message" : {
            "type" : "string",
            "description" : "Banner Ad fetched successfully"
          }
        }
      },
      "FacilityDetailSuccess" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "object",
            "properties" : {
              "WeekendMax" : {
                "type" : "integer",
                "description" : "Maximum value for weekends."
              },
              "ContentImages" : {
                "type" : "array",
                "description" : "List of content images.",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "Title" : {
                      "type" : "string",
                      "description" : "Title of the image."
                    },
                    "ImageUrl" : {
                      "type" : "string",
                      "description" : "URL for the image."
                    },
                    "ItemGUID" : {
                      "type" : "string",
                      "description" : "Unique identifier for the image item."
                    }
                  }
                }
              },
              "Address" : {
                "type" : "string",
                "description" : "Complete GPS address including phone number."
              },
              "ContractURL" : {
                "type" : "string",
                "description" : "URL for the facility's contract."
              },
              "HolidayCost" : {
                "type" : "integer",
                "description" : "Cost for holidays."
              },
              "FlagLockBox" : {
                "type" : "integer",
                "description" : "Flag indicating if a lockbox is available."
              },
              "ReservationURL" : {
                "type" : "string",
                "description" : "URL for making reservations."
              },
              "MinStay" : {
                "type" : "string",
                "description" : "Minimum stay duration."
              },
              "Latitude" : {
                "type" : "string",
                "description" : "Latitude coordinate of the facility."
              },
              "DescAmenity" : {
                "type" : "string",
                "description" : "Description of amenities."
              },
              "DescGeneral" : {
                "type" : "string",
                "description" : "General description of the facility."
              },
              "HolidayMin" : {
                "type" : "integer",
                "description" : "Minimum value for holidays."
              },
              "DescLocation" : {
                "type" : "string",
                "description" : "Description of the facility's location."
              },
              "Name" : {
                "type" : "array",
                "description" : "List of names associated with the facility.",
                "items" : {
                  "type" : "string"
                }
              },
              "CalenderURL" : {
                "type" : "string",
                "description" : "URL for the facility's calendar."
              },
              "AmenityList" : {
                "type" : "array",
                "description" : "List of amenities.",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "AmenityBIT" : {
                      "type" : "string",
                      "description" : "Bitmask representing the amenity."
                    },
                    "FacilityID" : {
                      "type" : "integer",
                      "description" : "Unique identifier for the facility."
                    },
                    "Amenity" : {
                      "type" : "string",
                      "description" : "Description of the amenity."
                    },
                    "ImageUrl" : {
                      "type" : "string",
                      "description" : "URL for the amenity's image."
                    }
                  }
                }
              },
              "WeekDayCost" : {
                "type" : "integer",
                "description" : "Cost for weekdays."
              },
              "DescFee" : {
                "type" : "string",
                "description" : "Description of applicable fees."
              },
              "WeekendMin" : {
                "type" : "integer",
                "description" : "Minimum value for weekends."
              },
              "FlagEcommerce" : {
                "type" : "integer",
                "description" : "Flag indicating if e-commerce is supported."
              },
              "Zipcode" : {
                "type" : "string",
                "description" : "Zip code of the facility."
              },
              "DayCount" : {
                "type" : "integer",
                "description" : "Count of days for the reservation."
              },
              "FlagRentable" : {
                "type" : "integer",
                "description" : "Flag indicating if the facility is rentable."
              },
              "FlagEcommCounty" : {
                "type" : "integer",
                "description" : "Flag indicating if the county supports e-commerce."
              },
              "DescYouthGroup" : {
                "type" : "string",
                "description" : "Description for youth groups."
              },
              "CustomCode" : {
                "type" : "string",
                "description" : "Custom code for the facility."
              },
              "FlagBookNow" : {
                "type" : "integer",
                "description" : "Flag indicating if the facility can be booked now."
              },
              "DescCancelationPolicy" : {
                "type" : "string",
                "description" : "Description of cancellation policy."
              },
              "FlagConvenienceFee" : {
                "type" : "boolean",
                "description" : "Flag indicating if a convenience fee is applicable."
              },
              "OffSeasonHoliday" : {
                "type" : "integer",
                "description" : "Off-season holiday cost."
              },
              "City" : {
                "type" : "string",
                "description" : "City where the facility is located."
              },
              "CountyID" : {
                "type" : "integer",
                "description" : "Unique identifier for the county."
              },
              "MaxCheckOut" : {
                "type" : "string",
                "format" : "date-time",
                "description" : "Maximum check-out date and time."
              },
              "Longitude" : {
                "type" : "string",
                "description" : "Longitude coordinate of the facility."
              },
              "Park" : {
                "type" : "string",
                "description" : "Name of the park."
              },
              "RegistrationStyle" : {
                "type" : "string",
                "description" : "Style of registration."
              },
              "RuleURL" : {
                "type" : "string",
                "description" : "URL for the facility's rules."
              },
              "MaxStay" : {
                "type" : "string",
                "description" : "Maximum stay duration."
              },
              "ParkID" : {
                "type" : "integer",
                "description" : "Unique identifier for the park."
              },
              "State" : {
                "type" : "string",
                "description" : "State where the facility is located."
              },
              "DaysBeforeReservation" : {
                "type" : "string",
                "description" : "Days before reservation can be made."
              },
              "FacilityURL" : {
                "type" : "string",
                "description" : "URL for the facility."
              },
              "FlagCanReserve" : {
                "type" : "integer",
                "description" : "Flag indicating if the facility can be reserved."
              },
              "FlagPayAtSite" : {
                "type" : "integer",
                "description" : "Flag indicating if payment can be made at the site."
              },
              "FlagLicensePlate" : {
                "type" : "integer",
                "description" : "Flag indicating if a license plate is required."
              },
              "County" : {
                "type" : "string",
                "description" : "Name of the county."
[...]
